@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background: #f4f4f4;
  text-align: center;
  padding: 2em;
}

header img {
  max-width: 96px;
  margin-right: 10px;
}

h1 {
  font-size: 2.5em;
}

h1, h2 {
  text-align: center;
}

h3 {
  font-weight: 200;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

.argonautes__formulaire__form {
  margin: 2em 0 4em 0;
  text-align: center;
}

footer {
  margin-top: 2em;
  text-align: center;
  color: #fff;
  background: #f76c6c;
  padding: 0.25em 0;
}

.argonautes__liste__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.argonautes__liste__wrapper__name {
  width: 33%;
  display:flex;
  justify-content: center;
}


